<div class="app-container">
	@if (!isEmbed){
	<div class="toolbar">
		<h1 class="app-title" routerLink="/videos">
			playbacQ</h1>
		<div class="search-bar">
			<input #searchInput type="text" placeholder="動画を検索..." (keyup.enter)="onSearch(searchInput.value)"
				maxlength="1024">
			<button mat-icon-button (click)="onSearch(searchInput.value)">
				<mat-icon>search</mat-icon>
			</button>
		</div>
		<span style="display:flex; align-items: center; gap: 16px;">
			<button mat-flat-button class="upload-btn" color="primary" (click)="openUploadDialog()">
				<mat-icon>upload</mat-icon>
				<span class="upload-btn-text">動画を投稿</span>
			</button>
			@if (iconUrl) {
			<div class="user-menu-wrapper" #userMenuWrapper>
				<img [src]="iconUrl" alt="User Icon" class="user-icon" (click)="toggleUserMenu()">
				@if (isOpenUserMenu) {
				<div class="user-menu">
					<button mat-menu-item class="notifications-btn">
						<mat-icon>notifications</mat-icon> 通知
					</button>
					<button mat-menu-item class="uploaded-videos-btn" [routerLink]="['/']"
						[queryParams]="{ userId: loggedInUserId }">
						<mat-icon>video_library</mat-icon> 投稿した動画
					</button>
					<button mat-menu-item class="liked-videos-btn">
						<mat-icon>favorite</mat-icon> いいねした動画
					</button>
					<button mat-menu-item class="settings-btn">
						<mat-icon>settings</mat-icon> 設定
					</button>
					<div class="version-info">
						playbacQ<br>
						ver 0.0.0
					</div>
				</div>
				}
			</div>
			}
		</span>
	</div>
	}
	<router-outlet></router-outlet>
</div>